<a href="https://colab.research.google.com/github/mahfuz978/TECH-I.S.---DATA-PROCESSING/blob/main/Mahfuzur_Rahman_Step_1_4d_Pandas__Data_Types__Missing_Data__Renaming_and_Combining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Tech IS/Data Processing/train.csv')
df.head(5)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [2]:
df.SalePrice.dtype

dtype('int64')

In [3]:
df.index.dtype

dtype('int64')

In [4]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [5]:
df.SalePrice.astype('float64')

0       208500.0
1       181500.0
2       223500.0
3       140000.0
4       250000.0
          ...
1455    175000.0
1456    210000.0
1457    266500.0
1458    142125.0
1459    147500.0
Name: SalePrice, Length: 1460, dtype: float64

In [6]:
# get all the entries that have null values
df[pd.isnull(df.Fence)]

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1453  1454          20       RL  ...        WD        Abnorml     84500
1454  1455          20       FV  ...        WD         Normal    185000
1455  1456          60       RL  ...        WD         Normal    175000
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1179 rows x 81 columns]

In [7]:
x = df.Fence.fillna('No Fence')
x.head(5)

0    No Fence
1    No Fence
2    No Fence
3    No Fence
4    No Fence
Name: Fence, dtype: object

In [8]:
df.Neighborhood.replace("NoRidge", "North Ridge")

0           CollgCr
1           Veenker
2           CollgCr
3           Crawfor
4       North Ridge
           ...
1455        Gilbert
1456         NWAmes
1457        Crawfor
1458          NAmes
1459        Edwards
Name: Neighborhood, Length: 1460, dtype: object

In [9]:
df.rename(columns={'Neighborhood':'Locality'})

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [10]:
df.rename(index={0:"firstEntry", 1:'secondEntry'})

               Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
firstEntry      1          60       RL  ...        WD         Normal    208500
secondEntry     2          20       RL  ...        WD         Normal    181500
2               3          60       RL  ...        WD         Normal    223500
3               4          70       RL  ...        WD        Abnorml    140000
4               5          60       RL  ...        WD         Normal    250000
...           ...         ...      ...  ...       ...            ...       ...
1455         1456          60       RL  ...        WD         Normal    175000
1456         1457          20       RL  ...        WD         Normal    210000
1457         1458          70       RL  ...        WD         Normal    266500
1458         1459          20       RL  ...        WD         Normal    142125
1459         1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [11]:
df.set_index('Id')

      MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                      ...
1             60       RL         65.0  ...        WD        Normal    208500
2             20       RL         80.0  ...        WD        Normal    181500
3             60       RL         68.0  ...        WD        Normal    223500
4             70       RL         60.0  ...        WD       Abnorml    140000
5             60       RL         84.0  ...        WD        Normal    250000
...          ...      ...          ...  ...       ...           ...       ...
1456          60       RL         62.0  ...        WD        Normal    175000
1457          20       RL         85.0  ...        WD        Normal    210000
1458          70       RL         66.0  ...        WD        Normal    266500
1459          20       RL         68.0  ...        WD        Normal    142125
1460          20       RL         75.0  ...        WD        Normal    147500

[1460 rows x 80 columns]

In [12]:
# set the label for rows as Houses and columns as Details
df.rename_axis("Houses", axis = "rows").rename_axis("Details", axis = "columns")

Details    Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
Houses                              ...
0           1          60       RL  ...        WD         Normal    208500
1           2          20       RL  ...        WD         Normal    181500
2           3          60       RL  ...        WD         Normal    223500
3           4          70       RL  ...        WD        Abnorml    140000
4           5          60       RL  ...        WD         Normal    250000
...       ...         ...      ...  ...       ...            ...       ...
1455     1456          60       RL  ...        WD         Normal    175000
1456     1457          20       RL  ...        WD         Normal    210000
1457     1458          70       RL  ...        WD         Normal    266500
1458     1459          20       RL  ...        WD         Normal    142125
1459     1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [13]:
df1 = pd.DataFrame([['a',1],['b',2]],columns = ['letter','number'])
d2 = pd.DataFrame([['c',3],['d',4]], columns = ['letter','number'])
pd.concat([df1,d2]).reset_index(drop = True)

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4

In [14]:
d1 = pd.Series([['a',1],['b',2]])
d2 = pd.Series([['c',3],['d',4]])
pd.concat([d1,d2], ignore_index=True)

0    [a, 1]
1    [b, 2]
2    [c, 3]
3    [d, 4]
dtype: object

In [15]:
d3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']], columns=['letter', 'number', 'animal'])
  
d4 = pd.concat([df1,d3], sort = True).reset_index(drop = True)
d4.fillna('Unknown Species')

            animal letter  number
0  Unknown Species      a       1
1  Unknown Species      b       2
2              cat      c       3
3              dog      d       4

In [16]:
pd.concat([df1,d3], join = 'inner').reset_index(drop = True)# returns only shared column

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4

In [17]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

df

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [18]:
d1 = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})

d1

  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [19]:
# join `df` with `other` using appropriate suffixes on `key` column of each DataFrame
df.join(d1,lsuffix="_Primary",rsuffix="_Secondary").fillna('UnKnown')

  key_Primary   A key_Secondary        B
0          K0  A0            K0       B0
1          K1  A1            K1       B1
2          K2  A2            K2       B2
3          K3  A3       UnKnown  UnKnown
4          K4  A4       UnKnown  UnKnown
5          K5  A5       UnKnown  UnKnown

In [20]:
# to join along the key column, i.e. key as the index of the joined DataFrame:
df.set_index('key').join(d1.set_index('key'))

      A    B
key
K0   A0   B0
K1   A1   B1
K2   A2   B2
K3   A3  NaN
K4   A4  NaN
K5   A5  NaN

In [21]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})

df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [22]:
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [23]:
df1.merge(df2, left_on="lkey", right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [24]:
df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                   'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})
df.head()

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

In [25]:
# ouptut data frame to save file names `output.csv`
df.to_csv('output.csv',index=False)
df.to_excel("d.xlsx", index = True)

In [26]:
# Check the working directory
df = pd.read_excel('/content/d.xlsx')

In [27]:
df

   Unnamed: 0       name    mask    weapon
0           0    Raphael     red       sai
1           1  Donatello  purple  bo staff